/* GENERAL */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f15;
    color: #fff;
}

section {
    padding: 80px 10%;
    text-align: center;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #14141f;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.header .logo {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}

.header .logo span {
    color: #4A6CF7;
}

.header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #ccc;
    transition: .3s;
}

.header nav a:hover {
    color: #4A6CF7;
}


/* HERO */
.hero {
    margin-top: 65px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1a1a26, #0f0f15);
}

.profile-pic img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #4A6CF7;
    animation: popIn .8s ease-out;
}

.hero h1 {
    font-size: 2.6rem;
    margin-top: 10px;
}

.hero h1 span {
    color: #4A6CF7;
    font-family: 'Times New Roman', Times, serif;
}

.subtitle {
    opacity: 0.8;
}

.welcome {
    margin-top: 10px;
    color: #4A6CF7;
}

.hire a {
    background-color: #4A6CF7;
    padding:10px 20px;
    color: #e6e7eb;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: .3s;
    box-shadow: 0 4px 0 #213AA3;
}

.hire a:hover {
    background-color: #0f0f15;
}

.hire a:active {
    transform: translate(2px);
    box-shadow: 0 2px 0 #213AA3;
}

/* 3D BUTTON */
.btn-3d {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background: #4A6CF7;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 6px 0 #213AA3;
    transition: .2s;
}

.btn-3d:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #213AA3;
}

/* SOCIALS */
.socials img {
    width: 35px;
    margin: 18px 10px;
    filter: brightness(0) invert(1);
    opacity: 0.8;
    transition: .3s;
}

.socials img:hover {
    opacity: 1;
}

/* ABOUT */
.about p {
    max-width: 700px;
    margin: auto;
    line-height: 1.7;
    opacity: .9;
    margin-bottom: 20px;
}

/* PROJECTS */
.project-grid {
    display: grid;
    gap: 25px;
    max-width: 1000px;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
    background: #14141f;
    padding: 25px;
    border-radius: 10px;
    transition: .3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card a {
    color: #4A6CF7;
    text-decoration: none;
    font-weight: bold;
}

/* REVIEWS */
.reviews {
    margin-top: 40px;
}

.review-grid {
    display: grid;
    gap: 25px;
    max-width: 1100px;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.review-card {
    background: #14141f;
    padding: 25px;
    border-radius: 10px;
}

.review-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4A6CF7;
}

.review-card h4 {
    margin-top: 10px;
    margin-bottom: 8px;
}

/* CONTACT */
.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    margin: 10px 0;
    background: #1f1f2b;
    border: none;
    border-radius: 8px;
    color: #fff;
}

.contact-form textarea {
    height: 120px;
}

.contact-socials {
    margin-top:25px;
    display:flex;
    justify-content:center;
    gap:20px;
}

.contact-socials i{
font-size:28px;
color:#b47bff;
transition:0.3s;
}

footer {
    padding: 20px;
    text-align: center;
    background: #14141f;
    margin-top: 40px;
}

/* ANIMATIONS */
@keyframes popIn {
    from { transform: scale(.4); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

/* Menu button */
#menu-icon {
    display: none; ;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

#menu-icon i {
    font-size: 28px;
    color: white;
}

/* Mobile menu */
@media (max-width: 768px) {
    #menu-icon {
        display: block;
        z-index: 2000;
        margin-left: auto; 
    }

    #menu-icon i:active {
        color: #4a5cf7;
    }
    .hero {
        margin-top: 65px;
        height: auto;
    }
    nav a {
        margin: 15px 0;
        font-size: 18px;
        display: block;
        color: #ccc;
        text-decoration: none;
    }

    nav {
        display: none;
        flex-direction: column;
        background: #111;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px 0;
        z-index: 1500;
        border-radius: 0 0 10px 10px;
        box-sizing: border-box;;
    }
    nav a:hover {
        color: #4A6CF7;
    }

    /* Show nav when active */
    nav.active {
        display: flex;
    }
}
